In [23]:
import pandas as pd
from sqlalchemy import create_engine
from config import api_key 
import requests
import json

In [2]:
csv_file = "billboard-1964-2015-songs-lyrics/billboard_lyrics_1964-2015.csv"
billboard_df = pd.read_csv(csv_file, encoding="latin-1")
billboard_df.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [12]:
billboard_df= billboard_df[['Rank', 'Song', 'Artist', 'Year']]
billboard_df.head()

,Rank,Song,Artist,Year
0,1,wooly bully,sam the sham and the pharaohs,1965
1,2,i cant help myself sugar pie honey bunch,four tops,1965
2,3,i cant get no satisfaction,the rolling stones,1965
3,4,you were on my mind,we five,1965
4,5,youve lost that lovin feelin,the righteous brothers,1965

In [25]:
temp = billboard_df.head(10)
temp

,Rank,Song,Artist,Year
0,1,wooly bully,sam the sham and the pharaohs,1965
1,2,i cant help myself sugar pie honey bunch,four tops,1965
2,3,i cant get no satisfaction,the rolling stones,1965
3,4,you were on my mind,we five,1965
4,5,youve lost that lovin feelin,the righteous brothers,1965
5,6,downtown,petula clark,1965
6,7,help,the beatles,1965
7,8,cant you hear my heart beat,hermans hermits,1965
8,9,crying in the chapel,elvis presley,1965
9,10,my girl,the temptations,1965

In [27]:

base_url = "http://ws.audioscrobbler.com/2.0/?method=track.getInfo"

playcount = []
tag1 = []
tag2 = []
tag3 = []
tag4 = []
tag5 = []

# for index, row in temp.iterrows():
song = 'youve lost that lovin feelin'
artist = 'the righteous brothers'
params = {
"track": song,
"artist": artist,
"api_key": api_key,
"format" : "json",
"autocorrect[0|1]": 0
}
try:
   response = requests.get(base_url, params=params)
   lastfm_data = response.json()

#        playcount.append(genre_data["track"]["playcount"])
#        tag1.append(genre_data["track"]["toptags"]["tag"][0]["name"])
#        tag2.append(genre_data["track"]["toptags"]["tag"][1]["name"])
#        tag3.append(genre_data["track"]["toptags"]["tag"][2]["name"])
#        tag4.append(genre_data["track"]["toptags"]["tag"][3]["name"])
#        tag5.append(genre_data["track"]["toptags"]["tag"][4]["name"])
#        print(f"Processing record number {index+1}, {song}, {artist}!")
except KeyError:
   playcount.append(0)
   tag1.append(0)
   tag2.append(0)
   tag3.append(0)
   tag4.append(0)
   tag5.append(0)
lastfm_data

{'track': {'name': 'youve lost that lovin feelin',
  'url': 'https://www.last.fm/music/The+Righteous+Brothers/_/youve+lost+that+lovin+feelin',
  'duration': '0',
  'streamable': {'#text': '0', 'fulltrack': '0'},
  'listeners': '304',
  'playcount': '847',
  'artist': {'name': 'The Righteous Brothers',
   'mbid': '1ac3366a-a0e9-4a55-8f6e-796fce32a3b2',
   'url': 'https://www.last.fm/music/The+Righteous+Brothers'},
  'toptags': {'tag': []}}}

In [7]:
import pymongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [8]:
db = client.songs_db

In [9]:
db.song_info.drop()

In [19]:
records=billboard_df[:10].to_dict(orient='records')
type(records)

list

In [20]:
records

[{'Rank': 1,
  'Song': 'wooly bully',
  'Artist': 'sam the sham and the pharaohs',
  'Year': 1965},
 {'Rank': 2,
  'Song': 'i cant help myself sugar pie honey bunch',
  'Artist': 'four tops',
  'Year': 1965},
 {'Rank': 3,
  'Song': 'i cant get no satisfaction',
  'Artist': 'the rolling stones',
  'Year': 1965},
 {'Rank': 4, 'Song': 'you were on my mind', 'Artist': 'we five', 'Year': 1965},
 {'Rank': 5,
  'Song': 'youve lost that lovin feelin',
  'Artist': 'the righteous brothers',
  'Year': 1965},
 {'Rank': 6, 'Song': 'downtown', 'Artist': 'petula clark', 'Year': 1965},
 {'Rank': 7, 'Song': 'help', 'Artist': 'the beatles', 'Year': 1965},
 {'Rank': 8,
  'Song': 'cant you hear my heart beat',
  'Artist': 'hermans hermits',
  'Year': 1965},
 {'Rank': 9,
  'Song': 'crying in the chapel',
  'Artist': 'elvis presley',
  'Year': 1965},
 {'Rank': 10, 'Song': 'my girl', 'Artist': 'the temptations', 'Year': 1965}]

In [21]:
db.song_info.insert_many(records)

In [ ]:
import pymongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.songs_db
db.song_info.drop()
records=billboard_df[:10].to_dict(orient='records')
type(records)
db.song_info.insert_many(records)