In [12]:
import pandas as pd
from sqlalchemy import create_engine
from config import api_key

In [13]:
csv_file = "billboard-1964-2015-songs-lyrics/billboard_lyrics_1964-2015.csv"
billboard_df = pd.read_csv(csv_file, encoding="latin-1")
billboard_df.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [14]:
billboard_df= billboard_df[['Rank', 'Song', 'Artist', 'Year', 'Lyrics']]
billboard_df.head()

,Rank,Song,Artist,Year,Lyrics
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...
2,3,i cant get no satisfaction,the rolling stones,1965,
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...

In [ ]:
songs = billboard_df['Song']
artists = billboard_df['Artist']

base_url = "http://ws.audioscrobbler.com/2.0/?method=track.getInfo"

add= "&api_key=YOUR_API_KEY&artist=cher&track=believe&format=json"
    
# run a request using our params dictionary
params = {
    "track": songs,
    "artist": artists,
    "api_key": api_key
}


response = requests.get(base_url, params=params)